.drawerHandle {
    position: absolute; /*这句不能少，否则动不起来*/
    animation: hurong 0.5s infinite alternate; /*keyframes名称，动画时间，循环*/
    -moz-animation: hurong 0.5s infinite alternate; /*火狐*/
    -o-animation: hurong 0.5s infinite alternate; /*opera*/
    -webkit-animation: hurong 0.5s infinite alternate; /*chrome safari*/
    -ms-animation: hurong 0.5s infinite alternate; /*ie*/
}

@keyframes hurong {
    0% {
        transform: translate(2px)
    }
    25% {
        transform: translate(3px)
    }
    50% {
        transform: translate(4px)
    }
    75% {
        transform: translate(5px)
    }
    100% {
        transform: translate(0px)
    }
}

.drawer {
    height: calc(100% - 66px);
    position: absolute;
    display: none;
    right: 5px;
    top: 36px;
    width: 0px;
    opacity: 1;
    z-index: 1;
    background-color: white;
    border-radius: 5px;

    /*border: 1px solid red;*/
    /*width: 290px !important;*/
}

.drawerDoor {
    height: 100%;
    width: 20px;
    background-color: white;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-weight: bold;
    display: flex;
    border-left: groove;
    border-left-width: 1px;
}

.drawer-body {
    /*background-color: darkgrey;*/
    /*opacity: 0.5;*/
    margin-right: 20px;
}

#tableHeader li {
    padding-left: 10px;
    margin: 1px 0px;
    cursor: move;
    /*background-color: #f8f9fa;*/
    border-bottom: 1px solid #adb5bd;
    /*display: list-item;*/
    /*border-top-right-radius: unset;*/
    /*border-bottom-right-radius: unset;*/
}